<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>波普特酒店-选择房间号</title>
</head>
<body>
<div style="width:300px;margin:0 auto;text-align:center;">
    您好，请选择房间号：<br><br>
    <form action="/user" style="width:300px;margin:0 auto;">
    <select name="RoomId" style="height:25px;">
        <option value="0">1号房</option>
        <option value="1">2号房</option>
        <option value="2">3号房</option>
        <option value="3">4号房</option>
        <option value="4">5号房</option>
        <input type="submit" value="确定" >
    </select>
    </form>
</div>
</body>
</html>